@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

/* mobile */
@media screen and (min-width: 320px) {

}
/* small tablet */
@media screen and (min-width: 620px) {

}
/*tablet*/
@media screen and (min-width: 960px) {

}
/*desktop*/
@media screen and (min-width: 1200px) { 

}

/* color and font stylings */
body{
    background-color: black;
}

body,p,a,ul,li{
    color: white;
    font-family: "Spectral", sans serif;
}

/* horizontal rule styling */
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    
}


